includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 6
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
    excludePaths:
        - app/Console/Kernel.php
